body {
	background-color:lightslategrey;
}

.container {

}

header {
	height: 100px;
	background-color:cadetblue ;
}


c {
    text-align: center;
}

th, td {
	padding-left: 10px;
	padding-right: 10px;
}

